
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



html, body, #root, .App, .App>div, .game-container, .full-height {
  height: 100%;
  background-color: #82D2FE;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}



p {
  font-family: 'Open Sans', sans-serif;
}

div {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
  color: white;
}
