.with-footer-container {
  min-height: 100%;
  position: relative;
}

.with-footer-content {
  background-color: #000;
  padding-bottom: 2rem;
  border-top: 2px #fff solid;
  margin-top: 2rem;
  min-height: 75vh!important;
  border-bottom: 2px #fff solid;
}
.footer {
  height: 3rem;
}